{% extends 'users/index.html' %}

{% block title %} Add new user {% endblock %}

{% block new %}

<h1>Add a new user</h1>
<form action='/users/create' method='post'>
    {% csrf_token %}
    <div class='form-group'>
        <label for='first_name'>First Name:</label>
        <input type='text' name='first_name' class='form-control' id='first_name'>
    </div>
    <div class='form-group'>
        <label for='last_name'>Last Name:</label>
        <input type='text' name='last_name' class='form-control' id='last_name'>
    </div>
    <div class='form-group'>
        <label for='email'>Email:</label>
        <input type='text' name='email' class='form-control' id='email'>
    </div>
    <button type='submit' value='Create' class='btn btn-primary'>Create</button>
</form>
<br>
<a href='/users'>Go Back</a>

{% endblock %}