{% extends 'users/index.html' %}

{% block title %} Users Index {% endblock %}

{% block user %}
<h1>Users</h1>
    <table class='table table-bordered' style='width:65%'>
        <thead>
            <tr>
                <th>id</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for user in users %}
        <tbody>
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.updated_at}}</td>
                <td><a href='/users/{{user.id}}'>Show</a>  <a href='/users/{{user.id}}/edit'>Edit</a>  <a href='/users/{{user.id}}/destroy'>Delete</a></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <br>
    <a href='/users/new'>Add a new user</a>
{% endblock %}